
.container-weatherCard{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 30px ;

}

.weatherCard__text-light{
    color: black;
}
.weatherCard__text-dark{
    color: white;
}

.weatherCard__input-dark .MuiInputBase-root, 
.weatherCard__input-dark .MuiFormLabel-root,
.weatherCard__input-dark .MuiOutlinedInput-notchedOutline{  
    border-color: rgba(255, 255, 255, 0.23);
    color: white ;
}