.loading, .wrapper:not(.headerWrapper){
    padding: 30px 0;
    text-align: center;  
}
.weatherWrapper{
    background-size: cover;
}
.wrapper__container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    
}
.weatherWrapper-dark{
    background-image: url(../../assets/night_sky.png);
}
.weatherWrapper-light{
    background-image: url(../../assets/sky.jpg);
}
.weatherContainer__Cards{
    display: flex;
    justify-content: space-between
}

.mapWrapper-light {
    background-color: rgb(242, 243, 242);
  }
  
.mapWrapper-dark {
background-color: rgb(21, 38, 56);
}
@media (max-width: 1024px) {
    .weatherContainer__Cards{
        display: grid;
        justify-content: initial;
        grid-row-gap: 10px;

    } 
    .loading, .wrapper:not(.headerWrapper){
        padding: 10px 0;
    }
}

