
.cityGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: start;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
}
.cityGrid__item:hover{
    color: rgb(25, 118, 210);

}
.cityGrid__item-light{
    color: black;
    transition: all linear .3s;
}
.cityGrid__item-dark{
    color: white;
    transition: all linear .3s;
}
@media (max-width: 1024px) {
    .cityGrid{
        grid-template-columns: repeat(4, 1fr);
    }    
}

@media (max-width: 624px) {
    .cityGrid{
        grid-template-columns: repeat(3, 1fr);
        font-size: 0.8rem;
    }    
}