
.cityGrid{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 30px ;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: start;
    color: blue;

}

.cityGrid__item-light{
    color: black;
}
.cityGrid__item-dark{
    color: white;
}
