
.wrapper-header{
    background-color: rgb(25, 118, 210)
}

.container-header{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
   flex-grow: 1;
   box-shadow: none !important
}
.btnGroup{
    margin-bottom: 15px;
}
.btnGroup__item{
    color:white
}
.MuiMenuItem-root:not(:last-of-type):hover{
    background-color: inherit;
}
