* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.App {
  text-align: center;
}

/* .MuiTypography-root{
  color: white;
} */
h6[class*='MuiTypography-root'],
p[class*='MuiTypography-root'],
div[class*='MuiTypography-root']
{
  color: white;
}
