
div.mapContainer{
    margin-bottom: 30px 
}
.mapContainer__map{
    height: 600px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
@media (max-width: 1024px) {
    .mapContainer__map{
        height: 400px;
    }
}
@media (max-width: 600px) {
    .mapContainer__map{
        height: 200px;
    }
}