
.weatherInfo{
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    margin: 0 auto; 
    margin-bottom: 30px
   

}

.weatherInfo-light{
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.weatherInfo-dark{
    background-color: rgba(255, 255, 255, 0.3) !important;
}
.weatherInfo__text::after {
    content: '';
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    margin: 15px 0;
}
.weatherInfo__temp::after {
    content: '\00B0';
    font-weight: 500;
   
}